#respond.comment-respond {
  text-align: left;
}

.postmeta {
  display: none;
}

#wpforms-971-field_2.wpforms-field-medium.wpforms-field-required {
  background-color: #efc62c;
}

#wpforms-971-field_12.wpforms-field-medium.wpforms-field-required {
  background-color: #efc62c;
}

#wpforms-971-field_1.wpforms-field-medium.wpforms-field-required {
  background-color: #efc62c;
}

#wpforms-971-field_8.wpforms-field-medium {
  background-color: #efc62c;
}

#wpforms-971-field_0.wpforms-field-name-first.wpforms-field-required {
  background-color: #efc62c;
}

#wpforms-971-field_0-last.wpforms-field-name-last.wpforms-field-required {
  background-color: #efc62c;
}

.meta-nav {
  font-size: 30px;
}

.entry-content .bdp_blog_template a {
  text-decoration: none;
  background-color: #ffffff;
  border-color: #000000;
  color: #efc62c;
}

.footertitle {
  background-color: #000000;
}

.cols-3.widget-column-3 {
  width: -500px;
}

.cols-3.widget-column-1 {
  width: 300px;
}

.cols-3.widget-column-2 {
  width: -500px;
  background-color: #000000;
}

#wpforms-971-field_3.wpforms-field-medium {
  background-color: #efc62c;
}

#wpforms-971-field_6.wpforms-field-medium.wpforms-field-required {
  background-color: #efc62c;
}

.comments-title {
  display: none;
}

time {
  display: none;
}

.bdp_blog_template.news .bd-blog-header h2.title a {
  font-size: 20px;
}

.wpforms-field-label {
  color: #000000;
}

#wpforms-971-field_0.wpforms-field-medium.wpforms-field-required {
  background-color: #efc62c;
}

.ufaq-faq-title h4 {
  color: #000000;
  font-style: normal;
  text-decoration: none;
}

h4 {
  color: #000000;
}

h5 {
  color: #000000;
}

.bx-viewport {
  color: #000000;
}

.panel-grid-cell .widget-title {
  color: #050000;
  display: none;
}

#footer-wrapper .container {
  background-color: #000000;
}

#footer-wrapper {
  background-color: #000000;
}

.attachment-full.size-full.wp-post-image {
  border-radius: 15px;
}

.nav-previous {
  text-align: justify;
  margin-left: 22%;
  margin-right: -6%;
}

.page_content {
  margin-left: -50px;
  margin-right: -50px;
}

#pl-2.panel-layout {
  margin-right: -75%;
  margin-left: 5%;
  padding-right: 20%;
  padding-left: 2%;
}

#pl-95.panel-layout {
  margin-left: 10%;
  margin-right: -52%;
}

#pl-307.panel-layout {
  margin-right: -52%;
  margin-left: 10%;
}

#pl-597.panel-layout {
  margin-right: -55%;
  margin-left: 8%;
}

.so-widget-image {
  border-radius: 15px;
}

#pl-722.panel-layout {
  margin-right: -55%;
  margin-left: 8%;
}

#pl-963.panel-layout {
  margin-left: 8%;
  margin-right: -55%;
}

#pl-132.panel-layout {
  margin-right: -55%;
  margin-left: 8%;
}

#pl-134.panel-layout {
  margin-right: -55%;
  margin-left: 8%;
}

#pl-136.panel-layout {
  margin-left: 8%;
  margin-right: -55%;
}

#pl-739.panel-layout {
  margin-right: -55%;
  margin-left: 8%;
}

#commentform p {
  margin-right: -500%;
  margin-left: 15%;
}

#reply-title.comment-reply-title {
  margin-left: 15%;
}

#div-comment-4.comment-body {
  margin-left: 15%;
}

#pl-742.panel-layout {
  margin-left: 8%;
  margin-right: -50%;
}

#pl-743.panel-layout {
  margin-right: -60%;
  margin-left: 12px;
}

#div-comment-5.comment-body {
  margin-left: 15%;
}

#div-comment-3.comment-body {
  margin-left: 15%;
}

.nav-next {
  margin-left: 22%;
  margin-right: -50%;
}

.siteorigin-widget-tinymce.textwidget {
  color: #000000;
}

h2 {
  color: #000000;
}